<div class="col-md-2 col-sm-3 col-4">      
          <a href="/all" class="nav-link">All</a> 
          <p>Seasons</p>
          <ul id="seasons-list" class="nav flex-column" role="tablist">
            
          </ul>
          <p>Types</p>
          <ul id="types-list" class="nav flex-column" role="tablist"></ul>
          <p>Materials</p>
          <ul id="materials-list" class="nav flex-column" role="tablist"></ul>
        </div>