<div>
    <p>Seasons</p>
    <ul>
        {{#each seasons}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>
    <p>Materials</p>
    <ul>
        {{#each materials}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>
    <p>Types</p>
    <ul>
        {{#each types}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>
</div>