<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta property="og:url" content="https://ccutz.herokuapp.com" />
  <meta property="og:type"  content="CCutz Label" />
  <meta property="og:title"  content="CCutz Label" />
  <meta property="og:description" content="Designer Apparel" />
  <meta property="og:image"  content="https://ccutz.herokuapp.com/" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/images/logo/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/images/logo/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/images/logo/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/images/logo/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/images/logo/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/images/logo/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/images/logo/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/images/logo/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/apple-touch-icon-180x180.png" />
  <title>CCutz Label</title>

  <!-- Bootstrap core CSS -->
  <link href="/styles/lib/reset.css" rel="stylesheet">
  <link href="/styles/lib/bootstrap.min.css" rel="stylesheet">
  <link href="/styles/lib/seaweed-script-font.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">


  <!-- Custom styles for this template -->
  <link href="/styles/styles.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="/js/lib/jquery.js"></script>
  <script type="text/javascript" src="/js/lib/popper.min.js"></script>
  <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/lib/holder.min.js"></script>
</head>

<body>
  <header>
    <nav class="container navbar navbar-expand-lg navbar-light">
      <a href="/" class="navbar-brand logo">
        <img src="/images/cz-label-logo.png" width="100" height="100">&nbsp;&nbsp;
        <h1 class="cz-h1"> Ccutz Label</h1>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="float-right navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user text-coral"></i><span class="member-name"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="menu">
              <a class="dropdown-item" href="/login" id="login-id">Login</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>


  {{{body}}}

  <footer class="text-muted">
    <div class="container">
      <p class="text-coral text-center">&copy; CcutzLabel.com</p>

      <div class="social text-center">
        <a href="https://www.facebook.com/CCutzlabel-927024624142008" target="blank">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://www.instagram.com/ccutzlabel/" target="blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="mailto:marybellapu@gmail.com">
          <i class="fas fa-envelope-square"></i>
        </a>
      </div>
    </div>
  </footer>
  <br>

</body>

</html>