<div class="container">
    <h2>Welcome <span class="member-name"></span>!!</h2>
    <div class="admin-options">
        <a href="/items"><img src="/images/items.png" class="admin-icons" width="200px" height="200px" alt="Add Items">
        <span class="caption">Add Items</span></a>
    </div>
    <div class="admin-options">
        <a href="/materials"><img src="/images/materials.png" class="admin-icons" width="200px" height="200px" alt="Add Materials">
        <span class="caption">Add Materials</span></a>
    </div>
    <div class="admin-options">
        <a href="/seasons"><img src="/images/seasons.png" class="admin-icons" width="200px" height="200px" alt="Add Seasons">
        <span class="caption">Add Seasons</span></a>
    </div>
    <div class="admin-options">
        <a href="/types"><img src="/images/types.png" class="admin-icons" width="200px" height="200px" alt="Add Types">
        <span class="caption">Add Types</span></a>
    </div>
</div>

<script type="text/javascript" src="/js/members.js"></script>