<!doctype html>
<html lang="en">

<head>

</head>

<body>
  <main role="main">
{{> leftMenu}}
{{> displayItems}}

  </main>
  <script type="text/javascript" src="/js/members.js"></script>
  <script type="text/javascript" src="/js/filters.js"></script>
  <script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/like.js"></script>

</body>

</html>