<div class="container content">
    <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                    <img src="{{item.pic}}" class="pic-500">
                    <input type="hidden" value="{{item.id}}" id="item-id">
                </div>
        </div>
        <div class="col-md-6">
            <h2>Contact</h2>

            <form id="contact-form">


                <div class="form-group required">
                    <label for="name" class="control-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="John Smith">
                </div>

                

                <div class="form-group required">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="john.smith@gmail.com">
                </div>

                <div class="form-group required">
                    <label for="mesg" class="control-label">Message</label>
                    <textarea rows="10" cols="100" class="form-control" id="mesg"></textarea>
                </div>
                <input type="submit" class="cz-btn" aria-pressed="false" id="send-message" value="Send Message">

            </form>
        </div>
    </div>
</div>
 <script type="text/javascript" src="/js/lib/sweetalert.min.js"></script>
 <script type="text/javascript" src="/js/messages.js"></script>
