video {
  width: 100%    !important;
  height: auto   !important;
}

.social a:hover {
    opacity: 0.7;
}

#menu {
float:right;
}

form.signup,
form.login {
  margin-top: 50px;
}

 .cz-light{
  background-color:#ffff;
 }

.list-group-item {
  line-height: 2.5;
}
.jumbotron{
  padding:0px;
}
header{
  margin-bottom:20px;
}
body{
/*background-color: #f8f9fa;*/
background-color:#ffff;
}

.text-coral{
  color:#FF8370;
}

a{
  color:#FF8370;
}

a:hover{
  color:#8D483E;
  text-decoration: none;
}

.cz-font{
  font-family: 'Seaweed Script';
}

.cz-h1{
  font-family: 'Seaweed Script';
  font-size:36px;
  color:#FF8370;
}

.navbar-dark .navbar-toggler-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 131, 112, 2)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.social a {
  font-size: 32px;
  margin: 0 10px;
  color: #FF8370;
}

.btn-outline-success {
    color: #FF8370;
    background-color: transparent;
    background-image: none;
    border-color: #FF8370;
}

.btn-outline-success:hover {
  color:#8D483E;
  background-color: transparent;
  background-image: none;
  border-color: #8D483E;
}


.admin-icons:hover{
  border:2px solid #FF8370;
}

.admin-options{
  vertical-align: top;
    display: inline-block;
    text-align: center;
    padding:20px;
}

.caption {
  display: block;
}

footer{
  margin-top:5em;
}

@media screen and (max-width: 425px) {

.cz-h1{
  font-size:22px;
}

.search-txt{
  width:80%;
}

  }

  @media screen and (min-width:400px){
.logo{
display:flex;
align-items: center;
}
  }





